<div class="page-wrapper">
    <div class="module-wrapper">
        <div class="app-wrapper">
            <div class="title-container">
                <h1 class="title">Interactive World Map</h1>
                <p class="attr">Data powered by <a href="https://www.worldbank.org/en/about/legal/terms-of-use-for-datasets">Worldbank API</a> | World map provided by <a href="https://mapsvg.com/maps/world.">MapSVG</a></p>
            </div>
            <app-map></app-map>
        </div>
    </div>
</div>




