<div class="page-wrapper">
    <div class="title-container">
        <h1 class="title">World Map</h1>
    </div>
    <div class="module-wrapper">
        <div class="map-wrapper">
            <app-map></app-map>
        </div>
        <div class="data-wrapper">
            <h2>Country Data</h2>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>value</td>
                </tr>
                <tr>
                    <td>Capital:</td>
                    <td>value</td>
                </tr>
                <tr>
                    <td>Region:</td>
                    <td>value</td>
                </tr>
                <tr>
                    <td>Income:</td>
                    <td>value</td>
                </tr>
                <tr>
                    <td>Longitude:</td>
                    <td>value</td>
                </tr>
                <tr>
                    <td>Latitude:</td>
                    <td>value</td>
                </tr>
            </table>
        </div>
    </div>
</div>




